{% extends 'base.html' %}
{% load static %}




{% block header %}

<div class="background_image" style="background-image:url({% static 'images/about.jpg' %})"></div>
{% endblock %}



{% block content %}
<div class="about">
<div class="container">
<div class="row">
<div class="col text-center">
<div class="section_subtitle">simply amazing places</div>
<div class="section_title"><h2>A few words about us</h2></div>
</div>
</div>
<div class="row about_row">
<div class="col-lg-6">
<div class="about_content">
<div class="text_highlight" style="text-align: justify;">A Web based application designed and developed using Django framework of Python programming language. Aim of the project is to make a web portal that can be used to guide / help people for getting knowledge about places before they visit it.</div>
<div class="about_text" style="font-size: 15px;">


<p style="font-size: 20px;">Some Exciting Features that you will see in this projects are:</p>
  <ol style="list-style-type:upper-roman">
  <li>Viewers can see top 10 places in the screen.</li>
  <li>Viewers can get the reviews of the place from the comment section of the place.</li>
  <li>user can Search the place by its name or by searching the city name.</li>
  <li>User will get similar place recommendations too.</li>
  <li>User's feedback gets converted to ratings via sentiment analysis. </li>
  </ol>


</div>

</div>
</div>
<div class="col-lg-6">
<div class="about_image"><img src="{% static 'images/about_1.jpg' %}" alt=""></div>
</div>
</div>
</div>
</div>

<!-- <div class="milestones">
<div class="container">
<div class="row">

<div class="col-lg-3 milestone_col">
<div class="milestone text-center">
<div class="milestone_icon"><img src="{% static 'images/mountain.svg' %}" alt=""></div>
<div class="milestone_counter" data-end-value="17">0</div>
<div class="milestone_text">Online Courses</div>
</div>
</div>

<div class="col-lg-3 milestone_col">
<div class="milestone text-center">
<div class="milestone_icon"><img src="{% static 'images/island.svg' %}" alt=""></div>
<div class="milestone_counter" data-end-value="213">0</div>
<div class="milestone_text">Students</div>
</div>
</div>

<div class="col-lg-3 milestone_col">
<div class="milestone text-center">
<div class="milestone_icon"><img src="{% static 'images/camera.svg' %}" alt=""></div>
<div class="milestone_counter" data-end-value="11923">0</div>
<div class="milestone_text">Teachers</div>
</div>
</div>

<div class="col-lg-3 milestone_col">
<div class="milestone text-center">
<div class="milestone_icon"><img src="{% static 'images/boat.svg' %}" alt=""></div>
<div class="milestone_counter" data-end-value="15">0</div>
<div class="milestone_text">Countries</div>
</div>
</div>
</div>
</div>
</div>
 -->
<div class="why">
<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/why.jpg' %}" data-speed="0.8"></div>
<div class="container">
<div class="row">
<div class="col text-center">
<div class="section_subtitle">simply amazing places</div>
<div class="section_title"><h2>Why choose us?</h2></div>
</div>
</div>
<div class="row why_row">

<div class="col-lg-4 why_col">
<div class="why_item">
<div class="why_image">
<img src="{% static 'images/why_1.jpg' %}" alt="">
<div class="why_icon d-flex flex-column align-items-center justify-content-center">
<img src="{% static 'images/why_1.svg' %}" alt="">
</div>
</div>
<div class="why_content text-center">
<div class="why_title">Fast Services</div>
<div class="why_text">
<p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
</div>
</div>
</div>
</div>

<div class="col-lg-4 why_col">
<div class="why_item">
<div class="why_image">
<img src="{% static 'images/why_2.jpg' %}" alt="">
<div class="why_icon d-flex flex-column align-items-center justify-content-center">
<img src="{% static 'images/why_2.svg' %}" alt="">
</div>
</div>
<div class="why_content text-center">
<div class="why_title">Great Team</div>
<div class="why_text">
<p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
</div>
</div>
</div>
</div>

<div class="col-lg-4 why_col">
<div class="why_item">
<div class="why_image">
<img src="{% static 'images/why_3.jpg' %}" alt="">
<div class="why_icon d-flex flex-column align-items-center justify-content-center">
<img src="{% static 'images/why_3.svg' %}" alt="">
</div>
</div>
<div class="why_content text-center">
<div class="why_title">Best Deals</div>
<div class="why_text">
<p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="team">
<div class="container">
<div class="row">
<div class="col text-center">
<div class="section_subtitle">simply amazing places</div>
<div class="section_title"><h2>Meet the Team</h2></div>
</div>
</div>
<div class="row team_row">

<div class="col-xl-3 col-md-6 team_col">
<div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
<div class="team_image"><img src="{% static 'images/team_1.jpg' %}" alt=""></div>
<div class="team_content">
<div class="team_title"><a href="#">Margaret Smith</a></div>
<div class="team_text">
<p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.</p>
</div>
</div>
</div>
</div>

<div class="col-xl-3 col-md-6 team_col">
<div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
<div class="team_image"><img src="{% static 'images/team_2.jpg' %}" alt=""></div>
<div class="team_content">
<div class="team_title"><a href="#">James Williams</a></div>
<div class="team_text">
<p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.</p>
</div>
</div>
</div>
</div>

<div class="col-xl-3 col-md-6 team_col">
<div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
<div class="team_image"><img src="{% static 'images/team_3.jpg' %}" alt=""></div>
<div class="team_content">
<div class="team_title"><a href="#">Michael James</a></div>
<div class="team_text">
<p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.</p>
</div>
</div>
</div>
</div>

<div class="col-xl-3 col-md-6 team_col">
<div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
<div class="team_image"><img src="{% static 'images/team_4.jpg' %}" alt=""></div>
<div class="team_content">
<div class="team_title"><a href="#">Noah Smith</a></div>
<div class="team_text">
<p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}


{% block javascript %}

    
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
  <script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
  <script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
  <script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
  <script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
  <script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
  <script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
  <script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
  <script src="{% static 'plugins/easing/easing.js' %}"></script>
  <script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
  <script src="{% static 'js/about.js' %}"></script>


{% endblock %}